div.outer {
    position: fixed;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
}



#hist_panel {
    /* Appearance */
    background-color: white;
    padding: 0 20px 20px 20px;
    cursor: move;
    /* Fade out while not hovering */
    opacity: 0.71;
    zoom: 0.9;
    transition: opacity 500ms 1s;
}



